.first-v__img{
    background-image: URL("../img/Blond woman with long curly beautiful hair.png");
    background-size:cover;
    width:60%;
    float: right;
    height:800px;
    //margin-left: 594px;
    
}

.hair-jp{
    padding: 300px 0 48px 160px;
    font-size: 38px;
    font-family:ヒラギノ明朝 Pro;
}

.hair-eg{
    padding: 0 0 0px 107px;
    font-size: 38px;
    font-family:Zapfino;
}

